MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_CHARSET=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DATABASE=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_SCHEMA=
POSTGRES_TABLE=

CHUNK_SIZE=
MYSQL_SOURCE_TABLE=
DATE_COLUMN=
LOG_LEVEL=

TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
